/*Fejléc:*/
*{
    margin: 0;
    padding: 0;
}

.fejlec{
    height: 90px;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.fejlec_navigacio_szoveg p a{
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    word-spacing: 10px;
}
.fejlec_navigacio_szoveg p{
    width: 600px;
    word-spacing: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.fejlec_navigacio_szoveg{
    width: 600px;
    padding-top: 3.5%;
}
.fejlec_navigacio{
    width: 600px;
    justify-content: right;
    float: right;

}
.zenstone{
    width: 350px;
}
.zenstone a img{
    width: 290px;
    padding-top: 2%;
    padding-left: 5%;
}

/*Lábléc:*/

.lablec{
    background-color: white;
    margin-top: 25px;
    
}
hr{
    color: rgb(255, 108, 132);
    width: 90%;
    border-color: rgb(255, 108, 132);
    border-width: 2px;
}
#lablec_sor{
    display: flex;
    align-content: flex-start;
}
.lablec_szoveg {
    font-size: 110%;
    margin-left: 15%;
    color:rgb(90, 90, 90);
   
}

.lablec_facebook_kep a img{
    width: 50%;
    float: right;
    
}

.lablec_instagram_kep a img{
    width: 50%;
    
}

/*fooldal:*/

.tartalom{
    position: relative;
}

.tartalom:before {
    z-index: -1;
    content: '';
    position: absolute;

    opacity: 0.2;
    width: 100%;
    height: 100%;
    background: url(iktkepek/tigers.png); 
    background-position: 700px;
}
/*.tartalom{
    background-image: url(iktkepek/tigers.png);
    background-position: 700px;
    opacity: 0.4;
}
.tartalom:before{
    opacity: 0.1;
}*/
/*erdekessegek:*/

/*etlap:*/

/*foglalas:*/
