*{
    margin: 0;
    padding: 0;
}


/*Fejléc:*/
.fejlec{
    height: 100px;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: +1;
    /*border: 1px,black,solid;*/
}
.fejlec_navigacio_szoveg p a{
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    word-spacing: 10px;
}
.fejlec_navigacio_szoveg p{
    width: 600px;
    word-spacing: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.fejlec_navigacio_szoveg{
    width: 600px;
    padding-top: 5.5%;
}
.fejlec_navigacio{
    width: 600px;
    justify-content: right;
    float: right;
}
.zenstone{
    width: 350px;
}
.zenstone a img{
    width: 290px;
    padding-top: 2%;
    padding-left: 5%;
}

/*Lábléc:*/

.lablec{
    background-color: white;
    margin-top: 25px;   
}
hr{
    color: rgb(255, 108, 132);
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-color: rgb(255, 108, 132);
    border-width: 2px;
    margin-bottom: 10px;
}
#lablec_sor{
    display: flex;
    align-content: center;
    justify-content: center;
}
.lablec_szoveg {
    font-size: 110%;
    margin-left: 8%;
    color:rgb(90, 90, 90);  
}
.lablec_szoveg  {
    line-height: 50px;
}
.lablec_facebook_kep a img{
    width: 50%;
    float: right;  
    border-radius: 100px; 
}
.lablec_instagram_kep a img{
    width: 50%;
    border-radius: 100px; 
}

/*fooldal:*/

.tartalom{
    position: relative;
    padding-bottom: 20px;
}
#space{
    padding-top:120px ;
    text-align: center;
    color: rgba(0, 0, 0, 0);
}
.tartalom_etelek_keret, .tartalom_erdekessekeg_keret, .tartalom_foglalas_keret{
    background-color: rgba(231,231,231,0.8);
    width: 80%;
    border-radius: 40px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.tartalom_etelek, .tartalom_erdekessekeg, .tartalom_foglalas{
    background-color: white;
    border-radius: 20px;
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 4vw);
    grid-gap: 5px;
}
.tartalom_foglalas{
    background-color: white;
    border-radius: 20px;
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, 4vw);
    grid-gap: 5px;
}
.tartalom_etelek_kep{
    grid-column-start: 8;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 8;
}
.tartalom_erdekessekeg_kep{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 8;
}
.galery_kep{
    border-radius: 35px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.tartalom_etelek_cim, .tartalom_erdekessekeg_cim, .tartalom_foglalas_cim{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.tartalom_etelek_cim{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}
.tartalom_erdekessekeg_cim{
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3;
}
.tartalom_foglalas_cim{
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
}
.tartalom_etelek_szoveg, .tartalom_erdekessekeg_szoveg, .tartalom_foglalas_szoveg{
    font-size: x-large;
    line-height: 35px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.tartalom_etelek_szoveg{
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 6;
}
.tartalom_erdekessekeg_szoveg{
    grid-column-start: 6;
    grid-column-end: 12;
    grid-row-start: 3;
    grid-row-end: 6;
}
.tartalom_foglalas_szoveg{
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
}
.tartalom_etelek_gomb>a, .tartalom_erdekessekeg_gomb>a, .tartalom_foglalas_gomb>input, .tartalom_foglalas_gomb>a{
    text-decoration: none;
    color: rgb(37, 101, 24);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(77, 201, 52);
    font-size: xx-large;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 15px;
    font-weight: bold;
}
.tartalom_etelek_gomb{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 8;
    width: 350px;
}
.tartalom_erdekessekeg_gomb{
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 7;
    grid-row-end: 8;
    width: 180px;
}
.tartalom_foglalas_gomb{
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 7;
    margin: 0 auto;
}
.tartalom:before {
    z-index: -1;
    content: '';
    position: absolute;

    opacity: 0.8;
    width: 100%;
    height: 100%;
    background: url(iktkepek/tigers.png); 
    background-position: 700px;
}
.fooldal_celok_rolunk{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 8%;
}
.fooldal_celok_rolunk_kep{
    width: 250px;
    padding-top: 5%;
}
.fooldal_celok_rolunk_kep img{
    width: 100%;
}
.fooldal_celok_rolunk_cim{
    color: #FF94BB;
    padding-top: 8%; 
    padding-bottom: 4%; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.fooldal_celok_rolunk_szoveg{
    font-size: x-large;
    line-height: 35px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 600px;

}
/*
.fooldal_celok_celunk{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 8%;
}
.fooldal_celok_celunk_kep{
    width: 250px;
    padding-top: 5%;
}
.fooldal_celok_celunk_kep img{
    width: 100%;
}
.fooldal_celok_celunk_cim{
    color: #4DC934;
    padding-top: 8%; 
    padding-bottom: 4%; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.fooldal_celok_ecelunk_szoveg{
    font-size: x-large;
    line-height: 35px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 600px;

}

*/



.fooldal_celok_ettortenelem{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 8%;
}
.fooldal_celok_ettortenelem_kep{
    width: 250px;
    padding-top: 5%;
}
.fooldal_celok_ettortenelem_kep img{
    width: 100%;
}
.fooldal_celok_ettortenelem_cim{
    color: #EF0000;
    padding-top: 8%; 
    padding-bottom: 4%; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.fooldal_celok_ettortenelem_szoveg{
    font-size: x-large;
    line-height: 35px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 600px;

}
/*.tartalom{
    background-image: url(iktkepek/tigers.png);
    background-position: 700px;
    opacity: 0.4;
}
.tartalom:before{
    opacity: 0.1;
}*/


/*erdekessegek:*/

.fotartalom{
    background-image: url(iktkepek/newdragons.png);
    background-size:contain;  
    background-position:right top;
    padding-bottom: 50px;
}
.focim {
    padding-top: 130px;
    padding-bottom: 2%;
    font-family: neucha;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 0.05px;
}
.robot_kerites {
    background-color: rgba(231,231,231,0.8);
    height: 500px;
    width: 80%;
    border-radius: 40px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}
.robot_kerites .robot{
    background-color: white;
     margin: 0;
    display: flex;
    opacity: 1;
    border-radius: 20px;
    height: 420px;
}
.robot{
    padding: 4%;
    margin-left: 2%;
    margin-right: 2%;
}
.robot_kep , .robot_kep img{
    margin: 2%;
    border-radius: 35px; 
    margin-left: 6%;       
}
.robot_kep img{
    width: 90%;
}
.robot_szoveg{
    line-height: 35px;
    font-size: large;
    padding-left: 2%;
    width: 50%;
}
.robot_szoveg, .robot_szoveg h1{
    margin-bottom: 20px;
    margin-top: 20px;
    padding-right: 3%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;  
}
.robot_szoveg h1{
    text-align: right;
}
.robot_szoveg p{
    text-align: left;
    font-size: x-large;
    margin-left: 8%;
    margin-top: 10px;
}
.erdekessegek_arkadok_szoveg, .erdekessegek_arkadok_szoveg h1{
    margin-bottom: 20px;   
    margin-top: 20px; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.erdekessegek_arkadok_szoveg{
    line-height: 35px;
    font-size:large;
    padding-left: 6%;
}
.erdekessegek_arkadok_szoveg p{
    font-size:x-large;
    width: 90%;
    margin-top: 10px;
}
.erdekessegek_arkadok_kerites{
    background-color: rgba(231,231,231,0.8);
    height: 550px;
    width: 80%;
    border-radius: 40px;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    padding: 20px;
}
.erdekessegek_arkadok_kerites .erdekessegek_arkadok{
    background-color: white;
    display: flex;
    opacity: 1;
    border-radius: 20px;
}
.erdekessegek_arkadok{
    padding: 4%;
    height: 470px;
}
.erdekessegek_arkadok_kep ,.erdekessegek_arkadok_kep img{
    margin: 2%;
    border-radius: 35px;
    height: 95%;
}

/*etlap:*/
.etlap{
    position: relative;
}
.etlap:before {
    z-index: -1;
    content: '';
    position: absolute;
    opacity: 0.58;
    width: 100%;
    height: 100%;
    background: url(iktkepek/ujfak.jpeg); 
    background-size: cover;
}
.etlap_kerites{
    background-color: rgba(231,231,231,0.8);
    width: 80%;
    border-radius: 40px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}
.etlap_etelek{
    background-color: white;    
    border-radius: 20px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 420px);
    height: 100%;
    grid-gap: 5px;
    text-align: center;
}
.etlap_elem{
    width: 100%;
    text-align: center;
}
.kep_etel{
    border-radius: 30px;
    width: 80%;
}
.kep_cim{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-weight: bolder;
    font-size: xx-large;
}
.kep_ar{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}
.kep_leiras{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
}

/*foglalas:*/

.fotartalomfog{
    background-image: url(iktkepek/hullamok.png);
    padding-bottom: 50px;
}
.kiszallitas{
    background-color: rgba(231,231,231,0.8);
    height: 650px;
    width: 80%;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.kiszallitas .kiszallitinside{
    background-color: white;
    display: flex;
    flex-direction: column;
    opacity: 1;
    border-radius: 20px;
    height: 100%;
}

.kiszallitas_cim{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
.kiszallitas_szuksegesopc{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-top: 40px;
    margin-bottom: 40px;
}
.kiszallitas_szukseges{
    margin-left: 30%;
}
.kiszallitas_opc{
    margin-right: 30%;
}
.kiszkep1 {
    display: flex;
    justify-content: center;
}
.kiszkep2 {
    display: flex;
    justify-content: center;
}
.kiszallita_textboxok{
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 60px;
}
.kiszallita_szovegek{
    display: flex;
    flex-direction: column;
    gap: 40px;
    line-height: 30px;
    font-size: 23px;
}
.kiszallita_textboxokfr{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
}
.kiszallita_textbox input{
    width: 100%;
    border: 0;
    border-radius: 20px;
}
.kiszallita_textbox{
    display: flex;
    gap: 15px;
}
.red img{
    width: 28px;
}
.red{
    width: 35px;
    display: flex;
}
.kiszallita_kerites{
    background-color:  rgba(231,231,231,0.8);
    padding: 10px;
    border-radius: 30px;
}
.tartalom_foglalas_gomb{
    margin-top: 35px;
}
.foglalas_gomb{
    border: 0px solid black;
}
.foglalas_kerites2{
    background-color: rgba(231,231,231,0.8);
    height: 280px;
    width: 80%;
    border-radius: 40px;    
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.foglalas_kerites2 .foglalas_inside2{
    background-color: white;
    display: flex;
    flex-direction: column;
    opacity: 1;
    border-radius: 20px;
    height: 100%;
}
.foglalas_cim{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
.foglalas_telsz{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap:5%;   
}
.foglalas_telsz p{
    width:200px;
    font-size: x-large;
}
