/*Fejléc:*/
.fejlec{
    height: 200px;
    background-color: white;
}
.fejlec_navigacio_szoveg{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
/*Lábléc:*/

.lablec{
    background-color: white;
    
}
hr{
    color: pink;
}
#lablec_sor{
    display: flex;
    align-content: flex-start;
}
.lablec_facebook_kep{
    
    background-image:url(iktkepek/facebook.png);
    background-size:cover;
}

.lablec_instagram_kep{
    background-image:url(iktkepek/insta.png) ;
    background-size: cover;
}
/*fooldal:*/

/*erdekessegek:*/

/*etlap:*/

/*foglalas:*/
